@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body {
    color: white;
  }

  #home {
    background-image: linear-gradient(
      109.6deg,
      rgba(30, 198, 198, 1) 11.3%,
      rgba(47, 127, 164, 1) 50.1%,
      rgba(6, 92, 147, 1) 100.2%
    );
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: black;
  }

  #home {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  }
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  scale: 1.2;
}

#home {
  height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#middle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  font-weight: 600;
}

nav a:active {
  font-weight: 200;
}

#socials a {
  color: inherit;
}

#socials a svg {
  scale: 0.6;
}

#socials a svg:hover {
  scale: 0.55;
}

#socials a svg:active {
  scale: 0.5;
}
