@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

#gitHub {
    height: auto;
    width: clamp(15px, 60%, 75px);
}

#linkedIn {
    height: auto;
    width: clamp(15px, 45%, 55px);
}

.nameTitle {
    letter-spacing: 4px;
    font-weight: lighter;
    font-size: clamp(20px, 1.8vw, 40px);
}


.bodyWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 25px;
    margin-top: 70px;
}

.bodyRight {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.middleName {
    font-size: 80px;
    color: rgb(74, 240, 190);
    letter-spacing: 3px;
}

.headerButton:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
}

.profilePic {
    height: 350px;
    width: auto;
}

.titleSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
}

.photos {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 33.333%);
    margin-top: 100px;
    width: 100%;
    row-gap: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.projectPhoto {
    height: 300px;
    width: auto;
    transition: 1s ease;
}
    
.projectPhoto:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.8s ease;
    cursor: pointer;
}

.bottomWrapper {
    width: 100%;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    letter-spacing: 6px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;    
    align-items: center;
    gap: 20px;
}

.aboutPhoto {
    height: auto;
    width: 60%;
    margin-bottom: 40px;
}

.explainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    max-width: 60%;
    flex-wrap: wrap;
}

#geoPara {
    line-height: 30px;
    text-align: center;
}

#bulbPara {
    line-height: 30px;
    text-align: center;
}

#electricPara {
    line-height: 30px;
    text-align: center;
}




.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
}

.border {
    border-style: solid;
}

.header {
    border-style: solid;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 6fr 1fr 1fr;
    height: clamp(25px, 15vh, 220px);
}

.nav {
    height: clamp(25px, 10vh, 180px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.navButton {
    font-weight: lighter;
    font-size: clamp(13px, 1.5vw, 30px)
}



@media only screen and (max-width: 700px) {
    .container {
      grid-template-columns: 2% 96% 2%;
    }
    .bodyWrapper {
        flex-direction: column;
    }
    .header {
        grid-template-columns: 4fr 1fr 1fr;
    }
  }